.employee-list-page{
    margin: 0px;
    height: calc(83vh - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding: 10px 0px 0px 10px;
    
}
.employee-list-page-card{
        padding: 15px;
}
.pagination{
    cursor: pointer;
    height: 20px;
    background: #15e8e8;
    width: 20px;
    justify-content: center;
}